/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

footer.page-footer {
	padding-top: 20px !important;
	margin-top: 0px !important;
}

.banner-home {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url('../img/banner-home.png');
	overflow: hidden;
}

.parallax-container {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url('../img/banner-home.png');
	overflow: hidden;
	height: 300px;
}

.center-text {
	text-align: center;
}

.text-shadow {
	text-shadow: 1px 1px 1px #000000;
}

.logo-css {
	padding-top: 5%;
	max-height: 55px;
}

.section {
	width: 100%;
}

/* Google Calendar Embedded CSS */

.cal-banner {
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}